.cabecalho {
	background: url(/assets/imagens/fundo-cabecalho.png);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  .cabecalho .logo {
	width: 80%;
	padding: 2rem 3rem;
  }
  
  .cabecalho .logo img {
	width: 50%;
	max-width: 210px;
	margin-bottom: 2rem;
  }
  
  .cabecalho .imagem{
	width: 10%;
  }
  
  .cabecalho p {
	font-size: 1rem;
	color: #6BD1FF;
  }
  
  @media (max-width: 576px) {
	.cabecalho .logo {
	  padding: 1rem;
	}
	.cabecalho p {
	  font-size: 1.1rem
	}
  }
  
  @media (max-width: 768px) {
	.cabecalho .logo {
	  width: 40%;
	}
	.cabecalho .imagem {
	  display: none;
	  width: 40%;
	}
  }